{% block breadcrumb %}
{% if breadcrumb is defined and breadcrumb|length %}
<ul class="breadcrumb">
    {% if divider is not defined %}
        {% set divider = true %}
    {% endif %}
    {% block breadcrumb_items %}
        {% for item in breadcrumb %}
            {% set islink = item.url|default('')|length and item.url != app.request.requestUri %}
            <li>
                {% if item.icon|default('')|length %}
                    <i class="{{ item.icon }}"></i>
                {% endif %}
                {% if islink %}
                    <a href="{{ item.url }}">
                {% endif %}
                {{ item.text|trans(item.parameters|default([]), domain|default(null), locale|default(null))|capitalize }}
                {% if islink %}
                    </a>
                {% endif %}
                {% if not loop.last and divider %}
                    <span class='divider'>{{ separator|default('/') }}</span>
                {% endif %}
            </li>
        {% endfor %}
    {% endblock breadcrumb_items %}
</ul>
{% endif %}
{% endblock breadcrumb %}