{% extends 'BootstrappBundle:Doc:demo.html.twig' %}

{% block header %}
    {% set breadcrumb = [{'text':'pickadate', 'url':path('bootstrapp_pickadate')}]|merge(breadcrumb) %}
    {{ parent() }}
{% endblock header %}

{% block content %}
    <form action="{{ path('bootstrapp_pickadate') }}" method="post" {{ form_enctype(form) }}>
    <h4>Date and time pickers</h4>
    <h5>Pickadate by amsul : <a href="http://amsul.github.com/pickadate.js">http://amsul.github.com/pickadate.js</a></h5>
    <div class="well">
        {{ form_rest(form) }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}