/*!
 * base.less v1.0.0
 *
 * Copyright 2012 n@mariani
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */



/*------------------------------*
 * Twitter Bootstrap less files *
 *------------------------------*/
@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";

/*------------------------------*
 *      BootstrappBundle        *
 *------------------------------*/
// Define new variables or override bootstrap
@import "variables.less";
@import "mixins.less";


// Common
// --------------------
div.inline-children > *,
form.inline-children > *,
div.inline {
    display: inline-block;
    .ie7-inline-block();
    margin-bottom: 0;
}

// Icons
// --------------------
/* Animated rotating icon */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}

// Dropdown
// --------------------
.nav.dropdown-hover .dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown-menu {
    min-width: 100px;
    margin:0;
}
// Hover state
.dropdown-menu a:hover,
.dropdown-menu .active a,
.dropdown-menu .active a:hover {
    color: @white;
    text-decoration: none;
    background-color: @baseColor;
}
.dropdown-menu li a:hover > [class^="icon-"],
.dropdown-menu li a:hover > [class*=" icon-"],
.dropdown-menu .active a > [class^="icon-"],
.dropdown-menu .active a > [class*=" icon-"],
.dropdown-menu .active a:hover > [class^="icon-"],
.dropdown-menu .active a:hover > [class*=" icon-"] {
    color: @white;
    background-image: url("@{iconWhiteSpritePath}");
}
// form
.dropdown-menu li form {
    margin:0;
    a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: @baseLineHeight;
        color: @dropdownLinkColor;
        white-space: nowrap;
    }
}

.nav.locale-dropdown {
    font-size: 13px;
}
.nav.locale-dropdown img {
  margin-top:-2px;
}

.navbar .nav {
  a, p, h1, h2, h3, h4 {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: transparent;
}

.navbar-inverse li a > [class^="icon-"],
.navbar-inverse li a > [class*=" icon-"] {
  color: @white;
  background-image: url("@{iconWhiteSpritePath}");
}

.nav img {
  max-height: 18px;
}

html, body {
    height: 100%;
}

body {
    #gradient > .directional(#e5e5e5, #f2f2f2);
    background-image: url("../../bootstrapp/images/patterns/whitey/whitey.png");
    background-repeat: repeat;
}

body > .container,
body > .container-fluid {
    min-height: 100%;
}

@media (min-width: (@navbarCollapseDesktopWidth)) {
    body > .container > .row,
    body > .container-fluid > .row-fluid {
        padding-top: 40px;
    }
}

body > footer {
    clear:both;
    margin-top: -40px;
    text-align: center;
    font-size: 13px;
    background: @white;

    > .container,
    > .container-fluid {
        background: @white;
        padding: 10px 12px;
    }

    .locale-dropdown {
        display: inline-block;
        text-align: left;
        font-size: 13px;
        img {
          margin-top: -4px;
          max-height: 20px;
        }
        .dropdown-menu {
            z-index: 0;
            width:190px;
            left: 0;
            right: auto;
            margin-bottom: 5px;
            margin-left: -20px;
            border-radius: 6px 6px 0 0;
            border: none;
            .box-shadow(none);
        }
    }
}

p:last-child {
    margin: 0;
}

// Forms
// --------------------
// read-only inputs not like disabled
div.well input[readonly],
div.well select[readonly],
div.well textarea[readonly] {
  cursor: default;
  background-color: @inputBackground;
}

// fix form-horizontal inputs sizing
*:not(.input-prepend):not(.input-append) {
  // override default bootstrap input, texterea & select width to fill the space available
  > textarea,
  > select,
  > .uneditable-input {
    width: 100%;
  }

  > input[type="text"],
  > input[type="password"],
  > input[type="datetime"],
  > input[type="datetime-local"],
  > input[type="date"],
  > input[type="month"],
  > input[type="time"],
  > input[type="week"],
  > input[type="number"],
  > input[type="email"],
  > input[type="url"],
  > input[type="search"],
  > input[type="tel"],
  > input[type="color"],
  > .uneditable-input {
    &:not([class*=input-]) {
      .input-block-level();
    }
  }
}

input.error {
  border-color: @errorBorder;
  color: @errorText;
}

.form-horizontal {
    input[type="radio"] {
        margin: 0;
        vertical-align: 1px;

        &:not(:first-of-type) {
            margin-left: 10px;
        }

        + .control-label {
            display: inline-block;
            margin-left: 5px;
        }
    }
    .controls .control-label {
        float: none;
        width: auto;
        text-align: left;
    }
    .controls .controls {
        margin-left: 0;
    }
}

[data-type="datetime"] {
    .input-append:not(:first-of-type),
    .input-prepend:not(:first-of-type) {
        margin-left: -1px;
    }

    .input-prepend:not(:first-of-type),
    .input-append:not(:last-of-type) {
        .add-on {
            .border-radius(0);
        }
    }

    .input-prepend:not(:last-of-type),
    .input-append:not(:first-of-type) {
       input {
         .border-radius(0);
       }
    }
}

legend {
    font-size: @baseFontSize * 1.25;
    margin-bottom: 0;
    & + *:before {
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
        margin-bottom: @baseLineHeight
    }

    [class^="icon-"],
    [class*=" icon-"] {
      vertical-align: baseline;
    }
}

// Thumbnails
// --------------------
.thumbnail {
    background-color: @white;
}

// Maps
// --------------------
.map, .google-maps {
    width: 100%;
    height: 400px;
}

// Forms
// --------------------
.input-block-level {
    &.input-prepend {
        position: relative;

        > .add-on:first-child,
        > .btn:first-child,
        > .btn-group:first-child {
            position:absolute;
            top: 1px;
            left: 1px;
            z-index: 3;
        }

        input.input-block-level {
            padding-left: 32px;
            border-radius: 4px;
        }
    }
    &.input-append {
        position: relative;

        > .add-on:last-child,
        > .btn:last-child,
        > .btn-group:last-child {
            position:absolute;
            top: 1px;
            right: 1px;
            z-index: 3;
        }

        input.input-block-level {
            padding-right: 46px;
            border-radius: 4px;
        }
    }

    > .btn-group {
         > .btn {
            border-width: 0;
            border-left-width: 1px;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            margin-left: auto;
         }
     }
}
.select2-container {
    width: 100%;
}
/* bootstrap-fileupload */
.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.btn-file > input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    direction: ltr;
}
.fileupload {
    margin-bottom: 9px;
    position: relative;
}
.fileupload .uneditable-input {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text;
}
.fileupload .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 25px;
    width: 100%;
    background: #e6e6e6;
}
.fileupload .thumbnail > img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.fileupload .btn {
    vertical-align: middle;
}
.fileupload .input-append .btn {
    line-height: 20px;
}
.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
    display: none;
}
.fileupload-inline .fileupload-controls {
    display: inline;
}
.fileupload-new .input-append .btn-file {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.thumbnail-borderless .thumbnail {
    padding: 0;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.fileupload-new.thumbnail-borderless .thumbnail {
    border: 1px solid #ddd;
}
.control-group.warning .fileupload .uneditable-input {
    color: #a47e3c;
    border-color: #a47e3c;
}
.control-group.warning .fileupload .fileupload-preview {
    color: #a47e3c;
}
.control-group.warning .fileupload .thumbnail {
    border-color: #a47e3c;
}
.control-group.error .fileupload .uneditable-input {
    color: #b94a48;
    border-color: #b94a48;
}
.control-group.error .fileupload .fileupload-preview {
    color: #b94a48;
}
.control-group.error .fileupload .thumbnail {
    border-color: #b94a48;
}
.control-group.success .fileupload .uneditable-input {
    color: #468847;
    border-color: #468847;
}
.control-group.success .fileupload .fileupload-preview {
    color: #468847;
}
.control-group.success .fileupload .thumbnail {
    border-color: #468847;
}
.fileupload .btn-group {
    position: absolute;
    display: block;
    overflow: hidden;
    bottom: 6px;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    background-image: -moz-linear-gradient(top, white, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, white, #e6e6e6);
    background-image: -o-linear-gradient(top, white, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
    *background-color: #e6e6e6;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-right: 1px solid #DDDDDD;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 0;
}
.fileupload .btn-group > .btn {
    position:relative;
    width: 50%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #DDDDDD;
    border-top: none;
}
.fileupload .btn-group > .btn + .btn {
    margin-left: 0; }